In [1]:
import pandas as pd

In [2]:
instagram_xlsx = pd.read_excel('./data/excel/하늘공원_인스타그램.xlsx', sheet_name="언급빈도", index_col=0)

In [3]:
instagram_xlsx

          frequency  confidence
label
Person          409   96.715051
Outdoors        286   94.305987
Nature          220   94.108558
Sky             207   95.667815
Grass           170   94.635480
...             ...         ...
Pain              1   98.502853
Cherry            1   99.825912
Zoo               1   99.996994
Boat              1   74.895462
Laptop            1   91.684738

[504 rows x 2 columns]

In [4]:
instagram_xlsx.to_csv("./data/csv/haneul_instagram_labels.csv")

In [5]:
google_xlsx = pd.read_excel('./data/excel/하늘공원_구글이미지.xlsx', sheet_name="언급빈도", index_col=0)

In [6]:
google_xlsx

            frequency  confidence
label
Outdoors          366   93.272563
Nature            300   92.928045
Grass             279   97.477945
Person            214   97.239191
Vegetation        186   94.538609
...               ...         ...
Rainforest          1   99.699821
Stroller            1   83.826241
Zebra               1   93.149986
Shipwreck           1   97.402023
Hibiscus            1   56.660133

[302 rows x 2 columns]

In [7]:
google_xlsx.to_csv("./data/csv/haneul_google_labels.csv")

In [2]:
review_haneul_xlsx = pd.read_excel('./data/excel/하늘공원_방문자리뷰.xlsx', sheet_name="구글맵_reviews")

In [3]:
review_haneul_xlsx

,place_name,rating,review_text,published_at
0,하늘공원,5,하늘공원은 억새춘제기간이 아니면 볼게 없다고 하지만 억새가 없어도 작가들의 조각품이...,3달 전
1,하늘공원,5,"억새축제 보러갔고 매우 예쁘다. 역에서 걸어와도 무난한 거리고, 별도로 열차타고 올...",6달 전
2,하늘공원,5,"연말에 일몰 보러 방문했어요. 정상까지 가는 길이 계단과 둘렛길이 있는데, 계단은 ...",3달 전
3,하늘공원,5,"서울에서 꼭 가봐야 할 명소라면 추천할 곳이 많지만, 가을에는 역시 서울 마포구 6...",5달 전
4,하늘공원,5,하늘공원 억새축제 때 다녀왔었습니다. 맹꽁이 열차 타면 편하게 왔다 갔다 할 수 있...,6달 전
...,...,...,...,...
995,하늘공원,4,월드컵경기장공원에서 하늘과 가장 가까운 곳으로 291개의 계단을 오르고 한참을 걸어...,4년 전
996,하늘공원,5,"가을이 가장 아름답고, 대부분의 현지인들이 이곳에 와서 하루 종일 여유롭게 산책을 ...",4년 전
997,하늘공원,5,"차분한, 밝은",4년 전
998,하늘공원,5,멋진 광경! 1월에도 여전히 아름답습니다.,4년 전
999,하늘공원,4,공원은 전망과 무성한 식물로 인해 훌륭합니다. 월드컵경기장 바로 옆에 있어 찾기 쉽...,5년 전

In [9]:
review_haneul_xlsx.to_csv("./data/csv/haneul_reviews.csv", columns=['place_name', 'review_text'], index=False)

In [10]:
review_wc_xlsx = pd.read_excel('./data/excel/월드컵공원_방문자리뷰.xlsx', sheet_name="구글맵_reviews")

In [11]:
review_wc_xlsx.to_csv("./data/csv/wc_reviews.csv", columns=['place_name', 'review_text'], index=False)